.fiche_logement {
  font-family: 'Montserrat', sans-serif;
  padding: 0 100px;
}

h2,
p {
  margin: 0;
  padding: 0;
}

.grid_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 60px;
}

.accommodation_title {
  color: #ff6060;
  font-weight: 600;
  font-size: 36px;
}

.accommodation_place {
  font-size: 18px;
  color: #ff6060;
}

.host_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-row: 1/2;
  grid-column: 2/3;
}

.host_name {
  color: #ff6060;
  display: flex;
  align-items: center;
  width: 18%;
  font-size: 18px;
}

.host_picture {
  height: 64px;
  border-radius: 100px;
}

.rate {
  display: flex;
  justify-content: flex-end;
}

.tags {
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .fiche_logement {
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
  }

  .grid_content {
    display: flex;
    flex-direction: column;
  }

  .accommodation_title {
    grid-row: 1;
    grid-column: 1;
    font-size: 18px;
  }

  .accommodation_place {
    grid-row: 2;
    grid-column: 1;
    font-size: 14px;
  }

  .tags {
    grid-row: 3;
    grid-column: 1;
  }
  .rate {
    grid-row: 4;
    grid-column: 1;
  }

  .host_info {
    grid-row: 5;
    grid-column: 1;
  }
}
