.fiche_logement {
  font-family: 'Montserrat', sans-serif;
  padding: 0 100px;
}

h2,
p {
  margin: 0;
  padding: 0;
}

.grid_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 60px;
}

.accommodation_title {
  color: #ff6060;
  font-weight: 600;
  font-size: 36px;
}

.accommodation_place {
  font-size: 18px;
  color: #ff6060;
}

.host_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-row: 1/2;
  grid-column: 2/3;
}

.host_name {
  color: #ff6060;
  display: flex;
  align-items: center;
  width: 23%;
  font-size: 18px;
}

.host_picture {
  height: 64px;
  border-radius: 100px;
}

.rate {
  display: flex;
  justify-content: flex-end;
}

.tags {
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .fiche_logement {
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
  }

  .grid_content {
    display: flex;
    flex-direction: column;
  }

  .accommodation_title {
    font-size: 18px;
  }

  .accommodation_place {
    font-size: 14px;
  }

  .rate {
    width: 40%;
    margin-top: -45px;
    margin-bottom: 10px;
  }

  .host_picture {
    height: 32px;
  }

  .host_name {
    font-size: 12px;
    width: 20%;
  }

  .collapse_logement {
    margin-bottom: 5px;
  }
}
