.a_propos {
  font-family: 'Montserrat', sans-serif;
  margin: 0 100px;
}

.a_propos_img {
  filter: brightness(80%);
  border-radius: 25px;
  height: 30vh;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.content_section {
  padding: 0 100px;
}

.inverse {
  transform: rotate(180deg);
}

@media (max-width: 640px) {
  .a_propos {
    margin: 0 20px;
  }

  .content_section {
    padding: 0;
  }

  .a_propos_img {
    border-radius: 10px;
    height: 225px;
  }
}
