.Home_page {
  margin: 0 100px;
  font-family: 'Montserrat', sans-serif;
}

.title_section {
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
  margin-bottom: 50px;
}

.title {
  grid-area: stack;
  color: #fff;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 500;
  overflow: hiden;
  z-index: 2;
}

.img_title {
  grid-area: stack;
  width: 100%;
  object-fit: cover;
  height: 223px;
  border-radius: 20px;
  filter: brightness(75%);
}

.location_section {
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 20px;
}

@media (max-width: 640px) {
  .Home_page {
    margin: 0 20px;
  }

  .title {
    width: 220px;
    background-color: red;
  }

  .title_section {
  }
}
