body {
  margin: 0 100px;
  font-family: 'Montserrat', sans-serif;
}

.title_section {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: grey;
  height: 223px;
  margin-bottom: 50px;
  border-radius: 20px;
  overflow: hidden;
}

.title {
  color: #ffffff;
  text-align: center;
  align-self: center;
  margin: 0;
  font-size: 52px;
  z-index: 2;
  overflow: hiden;
}

.bg_title {
  position: relative;
  right: 25%;
}

.location_section {
  background-color: #f6f6f6;
  border-radius: 20px;
}
