.card {
  display: grid;
  grid-template-columns: 1;
  width: 100%;
  overflow: hidden;
}

.card_link {
  margin: 0;
  text-decoration: none;
}

.coverImg {
  grid-row: 1/1;
  grid-column: 1/1;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}

.location_title {
  grid-row: 1/1;
  grid-column: 1/1;
  color: #000;
}
