.logoDivBlanc {
  display: flex;
  flex-direction: raw;
  height: 30px;
}

.kBlanc {
  margin-right: 1px;
}

.A1Blanc {
  margin-left: 1px;
  height: 80%;
  align-self: flex-end;
}

.SBlanc {
  margin-left: 3px;
  height: 80%;
  align-self: flex-end;
}
.A2Blanc {
  margin-left: 3px;
  height: 80%;
  align-self: flex-end;
}
