.accordeon {
  margin-bottom: 20px;
}

.title_accordeon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #ff6060;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
}

.title_accordeon h2 {
  font-size: 20px;
}

.title_accordeon img {
  height: 12px;
  object-fit: cover;
}

.content_accordeon {
  background-color: #f6f6f6;
  padding: 20px 0 10px 10px;
}

.p_accordeon {
  color: #ff6060;
  margin: 0;
  background-color: #f6f6f6;
  font-size: 18px;
}

.inverse {
  transform: rotate(180deg);
}

@media (max-width: 640px) {
  .title_accordeon h2 {
    font-size: 13px;
    font-weight: normal;
  }

  .p_accordeon {
    font-size: 12px;
  }

  .title_accordeon {
    height: 30px;
  }
}
