.headerSection {
  display: flex;
  justify-content: space-between;
  border: 2px dashed black;
  margin: 40px 0;
  height: 68px;
}

.headerNav {
  display: flex;
  margin-left: 100px;
  align-items: center;
}

a {
  color: #ff6060;
  text-decoration: none;
  font-size: 19px;
  border: 2px dashed red;
}
