.headerSection {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px;
  height: 60px;
}

.headerNav {
  display: flex;
  margin-left: 100px;
  align-items: center;
}

.lien {
  color: #ff6060;
  text-decoration: none;
  font-size: 19px;
  margin-left: 50px;
}

@media (max-width: 780px) {
  .headerSection {
    margin: 0;
    padding: 40px 20px;
  }

  .headerNav {
    margin: 0;
  }

  .lien {
    font-size: 4vw;
  }
}
