.footer {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 210px;
}

.footerLogo {
  margin-top: 30px;
}

.footerP {
  margin-top: 30px;
  color: white;
  font-size: 18px;
}

@media (max-width: 640px) {
  .footerLogo {
    height: 60%;
  }
}
