.slider {
  height: 415px;
  width: 100%;
  display: grid;
  grid-template-columns: 1;
  margin-bottom: 20px;
}

.slide_img {
  object-fit: cover;
  height: 415px;
  width: 100%;
  border-radius: 25px;
  grid-column: 1/1;
  grid-row: 1/1;
}

.arrows {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  grid-column: 1/1;
  grid-row: 1/1;
}

.counter_img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  grid-column: 1/1;
  grid-row: 1/1;
  color: #fff;
  font-size: 30px;
}

.left_arrow {
  cursor: pointer;
  height: 20%;
}

.right_arrow {
  cursor: pointer;
  height: 20%;
}

@media (max-width: 640px) {
  .slider {
    height: auto;
    width: auto;
  }

  .arrows {
    padding: 5px;
  }

  .left_arrow,
  .right_arrow {
    height: 9%;
  }

  .slide_img {
    height: 255px;
    border-radius: 10px;
  }
}
